*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgba(0, 38, 255, 0.591);
}
span{
    display: none;
    color: red;
}
header{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
}
form{   
    text-align: center;
    background-color: #fff;
    width: 380px;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
}
input{
    width: 100%;
    padding: 8px;
    outline: none;
    text-align: center;
}
.password-box{
    position: relative;
}

.password-box input{
    width: 100%;
}

.password-box i{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#twoCollection{
    margin-right: 2px;
}
button{
    width: 100px;
    margin: auto;
    background-color: rgba(0, 0, 255, 0.592);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}